@page
@model FAPWeb_Se1705.Pages.TimeTable.AddModel
@{
}

<form method="post">
    Course:
    <input name="CourseCode" />
    Group:
    <input name="GroupName" />
    InstructorCode
    <input name="InstructorCode" />
    Room name:
    <input name="RoomName" />
    TimeSlot:
    <input name="TimeSlot" />
    <button type="submit">Add </button>
</form>